.fas fa-paper-plane {
  color: coral;
}

.contact-form {
  width: 85%;
  max-width: 600px;
  position: absolute;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}
.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
  color: coral;
  font-size: 35px;
  font-weight: bolder;
}
.txtb {
  border: 2px solid darkgray;
  margin: 15px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb input,
.txtb textarea {
  color: gainsboro;
  font-weight: normal;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  font-family: monospace;
}
.btn {
  display: inline-block;
  background: black;
  padding: 14px 0;
  color: coral;
  border: 4px solid coral;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 80%;
  border-radius: 8px;
}

.btn:hover {
  color: black;
  background-color: coral;
}

.submit-confirm {
  color: coral;
  font-family: inherit;
  font-size: 200px;
  transition: ease-in 200ms;
}

.submit-text {
  color: coral;
  font-family: inherit;
  font-size: 50px;
  font-weight: bold;
}

.btn-reset {
  display: inline-block;
  background: black;
  padding: 14px 0;
  color: coral;
  border: 4px solid coral;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 18%;
  border-radius: 8px;
}

.btn-reset:hover {
  color: black;
  background-color: coral;
}

@media screen and (max-width: 559px) {
  .contact-form {
    width: 90vw;
    height: 80vh;
  }

  .contact-form h1 {
    padding-top: 10vh;
    font-size: 3.5vh;
  }

  .txtb input,
  .txtb textarea {
    font-size: 2.5vh;
  }

  .btn {
    font-size: 2.5vh;
    width: 75%;
  }

  .btn-reset {
    font-size: 2.5vh;
    width: 21%;
  }
}