.edu-container {
  position: absolute;
  margin-top: 30vh;
  display: flex;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 90vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
}

.edu-container::-webkit-scrollbar {
  display: none; /* hides scrollbar for WebKit browsers (Chrome, Safari) */
}

.edu1 {
  width: 100%;
}

.edu1 h2 {
  color: coral;
  font-family: inherit;
  font-size: 3.81vh;
  font-weight: bold;
}

.edu1-content {
  color: white;
  font-family: inherit;
  font-size: 2vh;
  font-weight: normal;
  line-height: 3vh;
}

@media (min-width: 600px) {
  .edu-container {
    margin-top: 0;
    display: flex;
    height: 80vh;
    width: 90vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .edu1 h2 {
    font-size: 25px;
    font-weight: bold;
  }

  .edu1-content {
    font-size: 18px;
    line-height: 25px;
  }
}

  .edu1 {
    margin-top: -10vh;
  }
}
