@import url("https://fonts.googleapis.com/css?family=Space+Mono&effect=font-effect-anaglyph");

html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: black;
}

button {
  border-style: none;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

.type {
  display:inline-block;
}

.type > span {
  display:grid;
  overflow: hidden;
  height:1.2em;
}

.type span span {
  width:0%;
  max-width:max-content;
  overflow: hidden;
  height:inherit;
  word-break:break-all;
  animation:
    c 0s infinite steps(1),  
    t 2s linear infinite alternate,
    m 16s steps(4) infinite;
}

.type span span:before {
  content:" ";
  display:inline-block;
}

@keyframes t{
  90%, 100% {width: 100%}
}

@keyframes c{
  0%,100% {box-shadow: 2px 0 0 #0000}
  50%     {box-shadow: 2px 0 0 coral}
}

@keyframes m{
  100% {transform:translateY(-400%)}
}

.back {
  float: left;
  overflow: hidden;
  padding-left: 5px;
}

.back a {
  float: none;
  color: white;
  padding: 12px 16px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: left;
}

.back a:hover {
  color: coral;
}

@media screen and (max-width: 600px) {
  .back {
    position: absolute;
    top: 0;
    left: 15%;
    float: left;
    overflow: hidden;
    padding-left: 5px;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-left: 1%;
  /*border-style: dashed;
  border-color: chartreuse;*/
}

.dropdown .dropbtn,
.dropdown .homebtn {
  font-size: 40px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  color: coral;
}

.dropdown:hover .homebtn {
  color: coral;
}

.dropdown-content a:hover {
  background-color: black;
  color: coral;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .dropdown .dropbtn {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .dropdown {
    float: none;
  }
  .dropdown-content {
    position: relative;
  }
  .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links ul {
  padding: 0px 0px 0px 0px;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
}

.navbar-links li a {
  font-size: 40px;
}

.navbar-links li a:hover {
  color: coral;
}

.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
}

.flexbox-container {
  display: flex;
  width: 90vw;
  height: 80vh;
  justify-content: space-around;
  flex-direction: column;
}

.flexbox-item {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.flexbox-image {
  width: 30vh;
  position: relative;
  border-radius: 50%;
}

.flexbox-header {
  color: coral;
  font-size: 5vh;
  font-weight: bold;
}

.flexbox-item-1 {
  align-items: center;
  justify-content: center;
}

.flexbox-item-2 {
  color: white;
  font-size: 2.5vh;
  padding: 2%;
  word-break: break-word;
  font-weight: medium;
  justify-content: center;
  align-items: center;
}

.resume-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2.5vh;
  font-weight: bold;
}

.resume-link:hover {
  color: coral;
}

@media (min-width: 1025px) {
  .flexbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flexbox-item-1 {
    align-items: center;
    justify-content: center;
    min-height: 600px;
  }

  .flexbox-image {
    width: 55%;
    position: relative;
    border-radius: 50%;
  }

  .footer {
    position: fixed;
    width: max-content;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto 0;
    color: grey;
    font-size: medium;
    padding: 1%;
  }
}
