@import url("https://fonts.googleapis.com/css?family=Space+Mono&effect=font-effect-anaglyph");

html, body {
    display: grid;
    height: 100%;
    align-items: center;
    background-color: black;
    font: inherit;
    font-family: monospace;
    font-size: medium;
    color: white;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: coral;
    padding-bottom: 0mm;
}

p {
    text-align: top;
    align-items: inherit;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    text-indent: inherit;
    font-size: 2rem;
}

#twinkle {
    height: 100%;
    width: 100%;
}

